
.vs/CRUD2/v16/Server/sqlite3/storage.ide-shm
.vs/CRUD2/v16/Server/sqlite3/storage.ide-wal
CRUD2.API/obj/Debug/netcoreapp3.0/CRUD2.API.csprojAssemblyReference.cache
CRUD2.API/obj/Debug/netcoreapp3.0/CRUD2.API.csprojAssemblyReference.cache
